:root {
    --primary-grad:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(107.65deg, #0B132B 0%, #1F3146 71.04%);
    --secondary-grad: linear-gradient(107.09deg, #979797 -13.72%, rgba(11, 19, 43,0.9) 110.95%);
    --background-gradient-extra: linear-gradient(to bottom right, #0B132B, #1F3146);
    --background-overlay-color: black;
    --background-overlay-opacity: 0.2;

}
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 108vh;
    background: var(--background-gradient-extra); 
    background-size: cover;
}

/* mimicking the figma background by setting an overlay*/

body::before {
    content: "";
    width: 100%;
    height: 95vh;
    /* background-color: var(--background-overlay-color); */
    opacity: var(--background-overlay-opacity);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

/* header */
.header {
    display: flex;
    padding-top: 30px;  
}

/* logo */
.logo {
    flex-basis: 20%;
    margin-left: 20px;
    margin-top: -10px;
   
}
.logo img{
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}
.nav-1{
    flex-basis: 60%;
   
}
.nav-1 ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}
.nav-1 ul li a{
    text-decoration: none;
    color: #979797;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    
}
.nav-1 ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1F3146;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  .nav-1 a:hover::after {
    width: 100%;
  }
.nav-2 {
    flex-basis: 20%;
    margin-top: -10px;  
   
    
}
.nav-2 ul{
    display: flex;
    list-style: none;
    padding: 0;
    padding-left: 30px;
    align-items: center;
    font-size: 15px;
    
    
}
.nav-2 ul li{
    margin-left: 20px;
}
.nav-2 ul li  img{
    width: 35px;
    height: 35px;
    margin-left: -15px;
    
}

.lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lang p{
    margin-right: 10px;
    font-size: 19px;
    color: #979797;
}
.lang img{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-top: 10px;
}

/* Main section */

.main {
    display: flex;
    margin-top: -100px;
    padding: 0px;
    height: 70vh;
}
.main-content{
    flex-basis: 50%;
    padding-top: 0px;
    padding: 200px 0;
    padding-left: 200px;
    padding-top: 120px;
}
.main-div {
    height: 400px;
    padding: 10px;
    background: #1F3146;
    border-radius: 20px;
    margin-top: -50px;
    opacity: 0;
    transform: translateX(-100%);
}

.main-div.visible {
    transition: transform 1.5s, opacity 2s;
    opacity: 1; 
    transform: translateX(0);
}

@keyframes slideAndCenter {
    0% {
        transform: translateX(-100%); /* Move from the left side of the viewport */
    }
    100% {
        transform: translateX(0); /* Move to the center of the viewport */
    }
}


.main-content h1{
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    padding: 15px;
    padding-bottom: 20px;
}
.main-content p{
    font-family: 'Dekko', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px;
}
.main-content h2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 20px;
    padding: 15px;
}

.main-image{
    flex-basis: 50%;
    padding-top: 0px;
    padding-right: 100px;
   
}
.main-image img{
    width: 550px;
    height: 550px;
    padding-top: 0px;
}

.main-content button {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    background: #979797;
    width: 200px;
    height: 60px;
    border: 1px solid #979797;
    border-radius: 30px;
    margin-left: 50px;
}
.main-content button:hover {
    background: #1F3146;
    color: white;
    transition: 0.5s;
}

footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0B132B;
    margin-top: 150px;
    padding: 30px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-top: 20px;
    height: 200px;
    color: #FFFFFF;
    margin-top: 30px;
}
.footer-logo {
    flex-basis: 25%;
}
.footer-logo img{
    width: 175px;
    height: 175px;
    padding-bottom: 10px;
}
.footer-content {
    flex-basis: 55%;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location {
    display: flex;
    gap: 10px;    
}
.location img{
    margin-top: -5px;
}
.phone {
    display: flex;
    gap: 10px;
}
.phone img{
    margin-top: -5px;
}
.sm {
    display: flex;
    gap: 15px;
}
.sm-icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 15px;
}
.footer-nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: -15px;
    align-items: center;
    font-size: 15px;
    color: #FFFFFF;
}
.footer-nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: #FFFFFF;
}