body {
    height: 100%;
}
.contact-main {
    display: flex;
    flex-direction: column;
    color: #f4f4f4;
}
.contact-main img{
    width: 1000px;
    height: 600px;
    padding-left: 125px;
    margin-top: -20px;
    margin-bottom: 100px;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: -650px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 150px;
    margin-top: -50px;

}
.contact-form h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 2px solid #979797;
    border-radius: 5px;
    background: none;
    width: 300px;
    color: #f4f4f4;
}
.contact-form label{
    font-size: 14px;
}
#submit-form {
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
    color: #979797;
}
#submit-form:hover {
    background-color: #979797;
    color: #000;
}

.additional-info {
    display: flex;
    flex-direction: column;
    padding-right: 250px;
    margin-top: -50px;
    gap: 20px;
}
.additional-info button{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    background-color: #0B132B;
    color: #f4f4f4;
    border: none;
}
.additional-info button:hover{
    background:none;
    border: 1px solid #0B132B;
    color: white;
}

#subscribe {
    margin-top: 160px;
    width: 200px;
    margin-left: 25px;
    background:none;
    border: 1px solid #0B132B;
    color: white;
}
#subscribe:hover {
    background-color: #0B132B;
    color: #f4f4f4;
}

.additional-info h1{
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
}


.preloader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  
.alertBox {
    position: fixed;
    top: 0;
    width: 210vh;
    padding: 10px;
    margin: 10px;
    /* transform: translate(-50%, -50%); */
    background: #1F3146;
    color: white;
    border-radius: 10px;
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}
.alertBox p {
    font-weight: 500;
    padding: 10px;
    margin-top: -25px;
}
.alertBox i {
    font-size: 20px;
    margin-left: 90%;
    margin-top: 10px;
    pointer-events: all;
}

.subscribe-section {
    margin-top: 9%;
    margin-bottom: -12%;
    background-color: #1F3146;
    padding: 50px;
    text-align: center;
}

.subscribe-container {
    max-width: 600px;
    margin: 0 auto;
}

.subscribe-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#subscribeForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subscribe-email {
    padding: 10px;
    border: 2px solid #979797;
    border-radius: 5px;
    background: none;
    width: 300px;
    margin-right: 10px;
}

#subscribe-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0B132B;
    color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s;
}

#subscribe-submit:hover {
    background-color: #1E2747;
}
.fa-bars {
    opacity: 0;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {

    .fa-bars {
        opacity: 1;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .contact-main img {
        width: 100%;
        height: auto;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-top: -320px;
        margin-bottom: 30px;
    }

    .contact-form {
        width: 100%;
        padding-left: 10%;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .additional-info {
        padding-right: 0;
        margin-top: 0;
    }

    .additional-info h1 {
        padding-left: 0;
    }
    .additional-info button{
        width: 200px;
        height: 45px;
        border-radius: 20px;
        background-color: #979797;
        color: #f4f4f4;
        border: none;
        transition: transform 0.5s;
    }
    .additional-info button:hover{
        background:none;
        border: 1px solid #979797;
        color: white;
        transform: scale(1.1);
    }
    #subscribe {
        margin: 0;
        margin-top: 20px;
        width: 200px;
        background:none;
        border: 1px solid #979797;
        color: white;
    }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact-main img {
        width: 100%;
        height: auto;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: -500px; /* Adjust as needed */
        margin-bottom: 50px;
    }

    .contact-form {
        width: 80%;
        padding-left: 0;
        margin-top: -50px; /* Adjust as needed */
    }

    .additional-info {
        padding-right: 0;
        margin-top: 0;
    }

    .additional-info h1 {
        padding-left: 0;
    }
}

/* For screens 1024px and larger */
@media (min-width: 1024px) {
    .contact-main img {
        width: 1000px;
        height: 600px;
        padding-left: 125px;
        margin-top: -20px;
        margin-bottom: 100px;
    }

    .contact-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        margin-top: -650px; /* Adjust as needed */
        margin-bottom: 50px;
    }

    .contact-form {
        width: 50%;
        padding-left: 150px;
        margin-top: -50px; /* Adjust as needed */
    }

    .additional-info {
        padding-right: 250px;
        margin-top: -50px; /* Adjust as needed */
    }

    .additional-info h1 {
        padding-left: 50px;
    }
}
