:root {
    --primary-grad:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(107.65deg, #0B132B 0%, #1F3146 71.04%);
    --secondary-grad: linear-gradient(107.09deg, #979797 -13.72%, rgba(11, 19, 43,0.9) 110.95%);
    --background-gradient-extra: linear-gradient(to bottom right, #0B132B, #1F3146);
    --background-overlay-color: black;
    --background-overlay-opacity: 0.2;

}
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--secondary-grad); 
    background-size: cover;
    overflow-x: hidden;
}
/* Header and Navigation */
.header {
    display: flex;
    padding-top: 30px;  
}
.header i{
    color: #979797;
    display: none;
}

/* logo */
.logo {
    flex-basis: 20%;
    margin-left: 20px;
    margin-top: -10px;
   
}
.logo img{
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}
.nav-1 ul i{
    color: #979797;
    display: none;

  }
.nav-1{
    flex-basis: 60%;
   
}
.nav-1 ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}
.nav-1 ul li a{
    text-decoration: none;
    color: #979797;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    
}
.nav-1 ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1F3146;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  .nav-1 a:hover::after {
    width: 100%;
  }
.nav-2 {
    flex-basis: 20%;
    margin-top: -10px;  
   
    
}
.nav-2 ul{
    display: flex;
    list-style: none;
    padding: 0;
    padding-left: 30px;
    align-items: center;
    font-size: 15px;
    
    
}
.nav-2 ul li{
    margin-left: 20px;
}
.nav-2 ul li  img{
    width: 35px;
    height: 35px;
    margin-left: -15px;
    
}

.lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lang p{
    margin-right: 10px;
    font-size: 19px;
    color: #979797;
}
.lang img{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-top: 10px;
}

/* Main section */
.sec-1 {
    padding: 10px;
}
.heading-blog{
    padding-left: 150px;
}
.heading-blog h1{
    font-family: 'Roboto', sans-serif;
}
.news {
    display: flex;
    padding: 20px;
    gap: 50px;
}

.news img{
    width: 300px;
    height: 250px;
    padding-bottom: 10px;
}
.news h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.news span{
    font-size: 26px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    line-height: 28px;
    color: black;
    opacity: 0.6;
}
.news p{
    font-size: 22px;
    padding-top: 10px;
    
}
.headline {
    padding-left: 50px;
}
.headline a{
    text-decoration: none;
    color: #1F3146;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.main-news {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    gap: 30px;
}
.icons p{
    font-size: 14px;
    font-weight: 500;
}
.icons i{
    font-size: 20px;
    color: #1F3146;
}
.icons i:hover{
    color: #979797;
    transition: 0.5s;
    cursor: pointer;
}

/* Other news */

.other-news-container {
    display: flex;
    padding: 20px;
    gap: 50px;
    flex-wrap: nowrap;
    min-width: 100vw;
    overflow-x: hidden; 
    transition: transform 0.3s ease;
}

.other-news-outside {
    border-radius: 20px;
    border: 1px solid #979797;
    height: 400px;
    flex: 0 0 300px; 
}

.scroll-btn {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-bottom: 100px;
}
.scroll-btn button{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    background: #979797;
    width: 200px;
    height: 60px;
    border: 1px solid #979797;
    border-radius: 30px;
    margin-left: 50px;
}
.other-news-inside {
    width: 100%;
    height: 0;
    background: rgba(11, 19, 43, 0.84);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: white;
}
.icons1{
    color: white;
}
.icons1 {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    gap: 30px;
}
.icons1 p{
    font-size: 14px;
    font-weight: 500;
}
.icons1 i:hover{
    color: #0B132B;
    transition: 0.5s;
    cursor: pointer;
}
.other-news-outside:hover .other-news-inside {
    height: 100%;
}

.other-news-1 {
    background-image: url('/assets/images/server-check-using-green-screen-tablet.jpg');
    background-size: cover;
    background-position: center;
} 
.other-news-2 {
    background-image: url('/assets/images/Gemini_Generated_Image\ \(1\).jpeg');
    background-size: cover;
    background-position: center;
}
.other-news-3 {
    background-image: url('/assets/images/m028t0173_d_icon_11oct22.jpg');
    background-size: cover;
    background-position: center;
}
.other-news-4 {
    background-image: url('/assets/images/Gemini_Generated_Image.jpeg');
    background-size: cover;
    background-position: center;
}
.other-news-5 {
    background-image: url('/assets/images/laptop-shopping-bags-online-shopping-concept.jpg');
    background-size: cover;
    background-position: center;
}
.other-news-6 {
    background-image: url('/assets/images/working-covid-office-concept.jpg');
    background-size: cover;
    background-position: center;
}

/* footer */

footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0B132B;
    margin-top: 150px;
    padding: 30px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-top: 20px;
    height: 200px;
    color: #FFFFFF;
    margin-top: 30px;
}
.footer-logo {
    flex-basis: 25%;
}
.footer-logo img{
    width: 175px;
    height: 175px;
    padding-bottom: 10px;
}
.footer-content {
    flex-basis: 55%;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location {
    display: flex;
    gap: 10px;    
}
.location img{
    margin-top: -5px;
}
.phone {
    display: flex;
    gap: 10px;
}
.phone img{
    margin-top: -5px;
}
.sm {
    display: flex;
    gap: 15px;
}
.sm-icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 15px;
}
.footer-nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: -15px;
    align-items: center;
    font-size: 15px;
    color: #FFFFFF;
}
.footer-nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    /* *{
        overflow-x: hidden;
    } */
    .logo {
        flex-basis: 50%;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    .header i{
        display: block;
        font-size: 30px;
        padding-top: 30px;
        margin-left: 180px;
    }

    .nav-1 {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 100px;
        z-index: 1;
    }
    .nav-1 ul {
        flex-direction: column;
        justify-content: start;
        background: #262626;
        position:fixed;
        top:0;
        padding-top: 50px;
        transition: right 0.5s;
        height: 100vh;
    }
    .nav-1 ul li {
        margin-left: 10px;
        margin-right: 10px;
        margin: 10px;
    }
    .nav-1 ul i{
        display: block;
        padding-right: 170px;
      }
    .nav-2 ul li{
        display: none;
    }
    .nav-2 i{
        display: inline-block;
    }
    footer {
        padding: 0px;
        margin: 0px;
        padding-bottom: 0px;
        height: 30vh;
    }
    .footer-container {
        padding: 20px;
        margin: 0px;
        padding-bottom: 0px;
    }
    .footer-logo img{
        width: 175px;
        height: 175px;
        padding-bottom: 10px;
    }
    .footer-logo img{
        width: 100px;
        height: 100px;
        
    }
    .footer-nav ul{
        font-size: 10px;
        gap: 5px;
    }
    .footer-nav {
        font-size: 10px;
    }
    .footer-content {
        flex-basis: 75%;
        padding: 0px 10px;
        font-size: 12px;
        gap: 20px;
    }
    .news {
        display: flex;
        flex-direction: column;
    }
    .headline {
        padding-left: 10px;
    }
    .news span{
        font-size: 20px;
    }
    .news p{
        font-size: 18px;
        padding-top: 10px;
        
    }
}