@import url('/styles.css');

body {
    height: 100%;
}

.skills-main {
    padding: 10px;
}
.skills-main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}
.skills-main h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
    font-family: 'dekko', cursive;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.fullstack{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.fullstack h2{
    text-align: center;
}
.fullstack img{
    height: 400px;
    padding-left: 350px;
    padding-top: 50px;
}
.skill img{
    height: 15vh;
}
.additional-container img{
    height: 30vh;
}

.skill-bar {
    background-color: #ffff;
    width: 400px;
    height: 10px;
    margin-top: 20px;
}

.skill {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.skill-progress {
    background: #0B132B;
    height: 10px;
}
.programming h2, .additional-skills h2{
    text-align: center;
    font-family: 'dekko', cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}

.additional-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -60px;
}
@media screen and (max-width: 768px) {
    /* *{
        overflow-x: hidden;
    } */
    .logo {
        flex-basis: 50%;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    .header i{
        display: block;
        font-size: 30px;
        padding-top: 30px;
        margin-left: 180px;
    }

    .nav-1 {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0px;
        z-index: 1;
    }
    .nav-1 ul {
        flex-direction: column;
        justify-content: start;
        background: #262626;
        position:fixed;
        top:0;
        padding-top: 50px;
        transition: right 0.5s;
        height: 100vh;
    }
    .nav-1 ul li {
        margin-left: 10px;
        margin-right: 10px;
        margin: 10px;
    }
    .nav-1 ul i{
        display: block;
        padding-right: 170px;
      }
    .nav-2 ul li{
        display: none;
    }
    .nav-2 i{
        display: inline-block;
    }
    footer {
        padding: 0px;
        margin: 0px;
        padding-bottom: 0px;
        height: 30vh;
    }
    .footer-container {
        padding: 20px;
        margin: 0px;
        padding-bottom: 0px;
    }
    .footer-logo img{
        width: 175px;
        height: 175px;
        padding-bottom: 10px;
    }
    .footer-logo img{
        width: 100px;
        height: 100px;
        
    }
    .footer-nav ul{
        font-size: 10px;
        gap: 5px;
    }
    .footer-nav {
        font-size: 10px;
    }
    .footer-content {
        flex-basis: 75%;
        padding: 0px 10px;
        font-size: 12px;
        gap: 20px;
    }
}